@import "tailwindcss";
/* App.css */

html, body {
  height: 100%; 
  margin: 0; 
  background-color: rgb(18, 3, 112);
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%; 
  width: 100%;
}

/* Optional: Add padding to make the content not stick to the edges */
.App > div {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%; 
}

nav, .p-6 {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .App {
    padding: 0.5rem;
  }
}
